<<<<<<< HEAD
=======
$danger: #D70763;
$secondary: #E6E6E6;

@font-face {
    font-family: "Raleway";
    src: url("../../public/fonts/Raleway/Raleway-Regular.ttf")
}
@font-face {
    font-family: "RalewayXLight";
    src: url("../../public/fonts/Raleway/Raleway-ExtraLight.ttf")
}
@font-face {
    font-family: "RalewayBold";
    src: url("../../public/fonts/Raleway/Raleway-SemiBold.ttf")
}

@import '../../node_modules/bootstrap/scss/bootstrap.scss';
$fa-font-path: "../../node_modules/@fortawesome/fontawesome-free/webfonts";
@import  "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import  "../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import  "../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss";


// _______________________
// PAGE INDEX
// _______________________
.bg-trans-dark {
    background-color: rgba(0, 0, 0, 0.3);
}
.bg-blanc {
    background-color: white;
}
strong {
    font-family: RalewayBold;
}

h1 {
    font-family: RalewayXLight
}

body {
    font-family: Raleway;
}

.zindex-top {
    z-index: 5;
}

.text-desc {
    p, a {
        font-size: 1.2em;
        line-height: 30px;
    }
}

header {
    z-index: 10;
    position: fixed;
    width: 100%;
    .navbar-toggler {
        border-width: 1px !important;
        border-color: white !important;
    }
    ul {
        @media (max-width: 992px){
            background-color: $dark;
        }
    }
}

#banner {
    width: 100%;
    height: 100vh;
    background-image: url(../../public/img/shopping.jpg);
    background-size: cover;
    background-position: bottom;
    font-family: Raleway;
}

#description {
    p, a {
        font-size: 1.2em;
        line-height: 30px;
    }
}

#recommand {
    #carouselExampleIndicators {
        position: relative;
        ol {
            position: absolute;
            bottom: -30%;
            li {
                width: 10px !important;
                height: 10px !important;
                background-color: $dark !important;
                border-radius: 50% !important;
            }
        }
    }
}

@keyframes slide {
    0% {
        transform: translateX(0%);
    }
    99% {
        transform: translateX(-75%);
    }
    100% {
        transform: translateX(0%);
    }
}

#sponsors {
    overflow: hidden;
    .slider {
        width: 350%;
        animation: slide 20s linear infinite;
    }
}



// _______________________
// PAGE INDEX
// _______________________

#appareil-banner {
    background-image: url(../../public/img/aroslim.png);
    background-size: cover;
    background-position: center;
    height: 70vh;
}

>>>>>>> c474bc7a57feb8d4faa5075b8b98d53a3b271bae
